hr{
	margin-top: 50px; height: 2px; background-color: black; width:20%;
}
h1{
	font-family: serif;

}
h3,h4{
 			color: white;
 			font-size: 25px;
}
p{
 			color: white;
 			font-size: 18px;

}
a{
	color: white;
}
a:hover{
	text-decoration: none;
	color:white;
}
body{
	background-color: rgb(40,40,40);
	color: white;
}
/*admin policy*/
#para{
	font-family: sans-serif;
	font-style: italic;
	font-size: 11px;
	background-color: none;
}
/*admin policy end*/
.no-border{
	border: none;
}
.text-orange{
	color: darkorange;
}
.text-white{
	color:white;
}
.bg-theme{
	background-color: rgb(40,40,40);
}
.bg-white{
	background-color: white
}
.bg-trans{
	background-color: transparent;
}
.thumbnail-4{
	 margin: 10px; width:250px; border: 1px; border-radius: 5px; font-family: serif;
	transition: 0.5s;
}
.thumbnail-4 a{
	text-decoration: none;

}
.thumbnail-4:hover{
	width:270px;
	text-decoration: none;
}
.latePrd{
	padding: 0; border: none; margin:5px ; width:380px;

}

#categoriesThumbnail{
	margin-left: 22px ; 
}

.btn-thumb{
	padding: 5px; width:100px;font-style: bold ;font-family:serif; background-color: white; color:orange; border:none; letter-spacing: 1px;
	transition: 0.3s;
}
.btn-thumb:hover {
	background-color: darkorange;
	color:white; 

}
#bg-body{
	background-image: url(imgs/bg1.jpg);
	background-attachment: fixed;
	background-origin: border-box;
}
.bg-transparent{
	background-color: transparent;
}


.bg-footer {
			background-image: url('imgs/footerimgs/bg_img.jpg');
			background-size: 100%;
			background-attachment: fixed;
			padding-top: 95px;
			padding-bottom: 40px;
			
 }
 .button{
 			background-color: Transparent;
    		color: white;
    		border: none;
    		transition: 0.3s;

}
.button:hover{
	color: darkorange;
	text-decoration: none;
}

.navbtn{
	font-family: serif;
	font-style: bold; 
	margin-right: 50px; font-size: 12pt;
	transition: 0.5s;
	color:white;
	text-transform: uppercase;	

}
.navbtn:hover{
	color:orange;
	text-decoration: none;

}
.navlbl{
	margin-right: 20px; padding-left: 5px;

}
.navlbl a{
	transition: 0.3s;
}
.navlbl:hover > a{
	color: rgb(60,140,240);
}

.img-zoom{
	overflow: hidden;
}
.img-zoom img{
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;

}

.img-zoom:hover img{
	  -moz-transform: scale(1.01);
  		-webkit-transform: scale(1.01);
	transform: scale(1.1);
}


h1.header{
	font-family: serif;
	padding-bottom: 50px;
	padding-top: 50px;
	text-align: center;
	background-color: black;
}

.emailstyle{
	border: none; width: 200px; padding-left: 15px;height: 50px; background-color: lightgrey; color:black; font-family: serif; margin-right: -4px;font-size: 12pt;
}
.signupstyle{
	width: 150px; height: 50px;background-color: white;border: none;
}
input.submit{
	background-color: black;
	color: darkorange;
	font-size: 15pt;
	font-family: serif;
	border: none;
	transition: 0.5s;
}
input.submit:hover {
	background-color: darkorange;
	color: black;
		
}
input.submit-rev{
	background-color: darkorange;
	color: black;
	font-size: 15pt;
	font-family: serif;
	border: none;
	transition: 0.5s;
}
input.submit-rev:hover {
	background-color: black;
	color: darkorange;
		
}
.sidenav{
	height: 100%;
	position: fixed;
	width: 300px;
}

.navi{
	  overflow: hidden;
	  position: fixed;
	  top: 0;
	  width: 100%;
	  z-index: 1;
	}
.list-group-item{
	color:white;
}
.navbar-fixed-top.scrolled {
  background-color: #333; !important;
  transition: background-color .3s linear;
}
.navbar-fixed-top {
  transition: .3s linear;
}

.list-active{
	background-color: darkorange;
	border: none;
}
.list-unactive{
	background-color: transparent;
	border: none;
}

.list-unactive:hover{
	background-color: grey;
}
.list-group-item:hover{
	background-color: grey;
}
#categories{
	font-family: serif;
	color:white;  
	padding-top: 20px;
	font-size: 18pt;
}

/*admin panel navigational bar*/

.ssidenav {
    height: 100%;
    width: 0;
    position: absolute;
    z-index: 1;
    overflow-x: hidden;
    transition: 0.5s;
}

.ssidenav a {

    font-size: 25px;
    color: #818181;
    display: block;
    /*transition: 0.3s;*/
}

.ssidenav a:hover {
    color: #f1f1f1;
}

.ssidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 15px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 5px;
}

@media screen and (max-height: 450px) {
  /*.ssidenav {padding-top: 15px;}*/
  .sidenav a {font-size: 18px;}
}
/*navigational bar end*/

